/* Base styles and CSS reset */
@font-face {  
    font-family: 'huiwen';  
    src: url('assets/huwenfangsong.001.ttf') format('truetype');
}  

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Arial', sans-serif;
}

body {
    font-family: 'huiwen';
    background-color: #f9f6f1;
    color: #353534;
    line-height: 1.6;
    cursor: url('cursor.png'), auto;
    height: 200vh; /* Makes page scrollable */
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* h1{
    text-align: center;
    font-size: 9em;
    color: #353534;
} */

h3{
    font-size: 2vw;
    color: #353534;
}
.title img{
    width: 100%;
    height: auto;
}
.subtitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 2vw;
    color: #333; /* Adjust color as needed */
}

.hands {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
}

.left-hand img {
    width: 30vw; /* Smaller size */
    left: 0; /* Align to the bottom left */
    bottom: 0;
}

.right-hand img{
    width: 30vw; /* Smaller size */
    right: 0; /* Align to the bottom right */
    bottom: 0;
}

.menu-container {
    position: absolute;
    top: 53%;
    width: 40vw; 
    height: 5px; /* Start as a thin horizontal line */
    background-color: rgb(0, 0, 0);
    border: #000;
    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    text-align: center;
    z-index: 100;
}

.menu-content {
    opacity: 0;
}
.menu-content img{
    width: 100%;
    height: auto;
}

.catalog-container {
    position: absolute;
    top: 140%; /* Position it right below the menu */
    left: 0;
    width: 100vw; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    background-color: #353534; /* Fill with black */
    z-index: 50; /* Ensure it's below the menu */
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Create 3 equal columns */
    gap: 20px; /* Space between grid items */
    width: 80%; /* Width of the grid */
    max-width: 1200px; /* Maximum width of the grid */
    text-align: center;
    color: white;
}

.grid-item { 
    border: ;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.grid-item h2 {
    margin-bottom: 10px;
    font-size: 1.5em;
}

.grid-item p {
    font-size: 1em;
    color: #ddd;
}

a{
    text-decoration: none;
    color: #ddd;
}

a:hover{
    color: #f9f6f1;
}